page-home{

    ion-input{
        color:white;
    }
.background1{
    background-color: rgb(84, 106, 112);
}
ion-content{
    background-image: url('../../assets/imgs/mainback.jpg');
    background-repeat: no-repeat;
    

 }
 
 .button {
    background-color:rgb(94, 139, 151); 
    position: relative;
top:99px;
}

ion-item{
    position: relative;
 top:96px;
 
  }
 }
