
  page-mainpage{
   
      
  

  
    
    h1{
        color: antiquewhite;
        box-align: center;

    }
 ion-content{
    background-image: url('../../assets/imgs/mainback.jpg');
    background-repeat: no-repeat;
    

 }
 div{
   position: relative;
   top:39.7px;

 }
 .button {
  background-color:rgb(94, 139, 151); 
  position: relative;
top:99px;
}

  }
 

