page-signin {
    color:white;
    
 ion-content{
    background-image: url('../../assets/imgs/mainback.jpg');
    background-repeat: no-repeat;
    

 }
 .background1{
background-color: rgb(84, 106, 112);
 }
 

 ion-input{
     color:white;
 }
 ion-item{
    position: relative;
 top:96px;
 
  }
  .button {
      background-color:rgb(94, 139, 151); 
      position: relative;
 top:99px;
  }

}
